<!-- <div class="container-fluid">
    <div class="timer">
        {{hours}} : {{minutes}} : {{seconds}}
    </div>
    <div class="button">
        <button class="btn btn-primary" (click)="onToggle()">{{buttonText}}</button>
    </div>
</div> -->

<div class="card">
    <h5 class="card-header">Trackify</h5>
    <div class="card-body">
        <h5 class="card-title">Worked Today : {{workedToday}}</h5>
        <div class="timer">
            {{hours}} : {{minutes}} : {{seconds}}
        </div>
        <div class="button">
            <button class="btn" [ngClass]="tracking ? 'btn-secondary' : 'btn-success'" (click)="onToggle()">{{buttonText}}</button>
        </div>
    </div>
</div>